@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';

.bg-primary {
  background-color: #6366f1;
}

.text-primary {
  color: #6366f1;
}

.bg-darker {
  background-color: #0f172a;
}

.gradient-text {
  display: inline-block; 
  background: linear-gradient(to right, #6366f1, #06b6d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  background-clip: text;
  color: transparent;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.25s ease-out;
}

@layer base {
  * {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .section-padding {
    @apply py-20 px-6 md:px-12 lg:px-20;
  }

  .container-max {
    @apply max-w-7xl mx-auto;
  }
}

@theme {
  --animate-rotate: rotate 4s linear infinite;

  @keyframes rotate {
    0% {
      transform: rotate(0deg) scale(3);
    }
    100% {
      transform: rotate(360deg) scale(3);
    }
  }
}